/* .dogImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    object-fit: contain;
}


.dogContainer{
    height: 94vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/dog-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header{
    text-transform: capitalize;
}

.dog{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/dog-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */