.siteContainer{
  height: 94vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/dog-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  width: 50%;
  height: 50%;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.dogGrid{
  background-color: white;
}